body, html {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  letter-spacing: 0.04em;
  font-size: 20px;
  color: grey;

}

#container {
  display: flex;
  flex-direction: column;
  background-color: #fffae9;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

h1 {
  font-family: 'Belleza', sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: rgba(255,167,144,1);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  padding: 5px 25px;
}

.nav-item {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #797979;
  font-weight: 500;
}

.parallax-1 {
    background: url(../images/office.png) no-repeat center top rgb(134,141,157);
    /*height: 500px;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15% 25%;
  text-align: center;
}


h2 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 0.20em;
  line-height: 1.4em;
  color: white;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 30%;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Belleza', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: rgba(255,167,144,1);
  font-size: 24px;
}

ul {
  text-align: center;
}

#about-me h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.4em;
}

li {
  padding-bottom: 10px;
}

.parallax-2 {
    background: url(../images/iphone.png) no-repeat center top rgb(134,141,157);
    /*min-height: 350px;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.parallax-2 .parallax-text {
  padding: 9% 25%;
}
